
.add-item-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-item-button:hover {
  background-color: darkgreen;
}

.form-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(211, 217, 223, 0.9);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 30px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000; /* Set a high z-index value */
}

.add-item-button {
  background-color: #427AA1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  border-radius: 10px;
    font-weight: 600;
}

.add-item-button:hover {
  background-color: #54c745;
}

.cancel-button {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  border-radius: 10px;
  font-weight: 600;
}

.cancel-button:hover {
  background-color: darkgray;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.required-asterisk {
  color: red;
}

.header-color {
  color: #343A40;
}

.add-item-mainlabels {
  color: #343A40;
  font-weight: 500;
}

.add-item-input {
  border: none;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-family: 'Karla', sans-serif; /* Set font family to Karla */
  font-weight: 500;
  color: #343A40;
  font-size: 18px;
}
