.button {
  padding: 10px 20px;
  background-color: #427AA1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  border-radius: 10px;
    font-weight: 600;
    width: 200px;
    margin-bottom: 15px;
}

.button:hover {
  color: #427AA1;
  background-color: white;
  border: #427AA1 2px solid;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

#recipeContainer > div {
  width: 400px;
}