@font-face {
  font-family: "Winkle";
  src: url("/Winkle-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* progress bars */

.progress-bar-container {
  width: 100%;
  background-color: #b7b7b7;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar {
  height: 10px;
  background-color: #49A93C;
  border-radius: 5px;
}

.add-item-button:hover {
  background-color: #54c745;
}

.cancel-button {
  background-color: gray;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.cancel-button:hover {
  background-color: darkgray;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.required-asterisk {
  color: red;
}

.header-color {
  color: #000000;
}

.add-item-mainlabels {
  color: #000000;
}


.fridge-button {
  background: transparent;
  border: none;
  color: #343A40;
  cursor: pointer;
  font-size: 40px;
  font-family: "Winkle", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: rotate(-10deg) translate(-50%, -50%);
  transition: transform 0.1s ease-in-out;
}

.fridge-button:hover {
  transform: rotate(-10deg) scale(1.1) translate(-50%, -50%);
}

.remove-item-button {
  background-color: #ED5353;
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  border-radius: 10px;
  font-weight: 600;
}

/* slowing down the popup container*/
.popup-container {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.95);
}

.popup-container.show {
  opacity: 95 !important;
  transform: scale(1);
}

/* Specific text styling inside the popup-container */
.popup-container p {
  color: black; /* Change this color to black */
}

.popup-container strong {
  color: black; /* Change this color to black */
}

/* Bouncing animation */
@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
}

.fruit-bounce {
  display: inline-block;
  animation: bounce 1.3s infinite ease-in-out;
}



